<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sorting_Graph_Algorithms_visualizer"
        tools:targetApi="31">
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DFS"
            android:exported="true">

        </activity>
        <activity
            android:name=".BFS"
            android:exported="true"></activity>
        <activity
            android:name=".QuickSort"
            android:exported="true" />
        <activity
            android:name=".MergeSort"
            android:exported="true" />
        <activity
            android:name=".HeapSort"
            android:exported="true" />
        <activity
            android:name=".SelectionSort"
            android:exported="true" />
        <activity
            android:name=".InsertionSort"
            android:exported="true" />
        <activity
            android:name=".BubbleSort"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>